@import "tailwindcss";

@font-face {
  font-family: "Eclipse";
  src: url("/fonts/eclipse.ttf");
}

@font-face {
  font-family: "Pixel";
  src: url("/fonts/10PixelBold.otf");
}


@theme {
  --font-arana: "Eclipse";
  --font-pixel: "Pixel";
  --color-rojo: #d63b39;
  --color-azul: #b1cbc8;
  --color-rosa: #cb708d;
  --color-morado: #561db4;
  --color-amarillo: #F4C902;
  --color-verde: #1ED922;
  --color-pink: #E725C6;
}

@layer utilities {
  .font-arana {
    font-family: var(--font-arana);
  }

  .font-pixel {
    font-family: var(--font-pixel);
  }
}

body {
  background-color: black;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

#grid {
  background-image: linear-gradient(#E725C6 0.1em, transparent 0.1em),
    linear-gradient(90deg, #E725C6 0.1em, transparent 0.1em);
  background-size: 3em 3em;
  background-color: black;

}
